# DATA TYPES AND STRUCTURES

 1. What are data structures, and why are they important?
   - Data structures are ways to organize and store data in a computer so that we can use it easily and efficiently. You can think of them like different types of containers that hold your data in a specific way. Some are like boxes, some like lists, some like ladders, and some like maps.
   THEY ARE IMPORTANT BECAUSE:
   - Choosing the right data structure significantly impacts the efficiency and performance of one's program.
   - Well-chosen data structures Simplify data manipulation (adding, removing, modifying elements) Optimize searching and sorting operations and Conserve memory usage.

 2.  Explain the difference between mutable and immutable data types with examples.
  - Mutable means we can change it after it's made. So if you make a list or something like that, you can add, remove, or update things in it later.examples: list,sets,dictonaries.
  - Immutable means we can't change it once it's made. If you try to change it, Python will make a new copy instead. examples: tuples,string,integers.

 3.  What are the main differences between lists and tuples in Python?
   - A list is a collection of items that can be changed which means they are mutable.
   - A tuple is also a collection of items, but it cannot be changed which means they are immutable.

 4.  Describe how dictionaries store data.
  - Dictionaries are fastest data structure which stores the data in the form of key and value pair.

 5.  Why might you use a set instead of a list in Python?
  - In Python, I would use a set instead of a list when I want to store data without any duplicate values. Sets automatically remove repeated items, which is useful when I only need unique elements.
  - Also, sets are faster than lists when it comes to checking whether a value is present or not. This makes sets better when I need to do quick searches.
  - Another difference is that sets do not keep the order of elements, while lists do. So if I don't care about the order and just want to store unique data, a set is the better choice.

 6.  What is a string in Python, and how is it different from a list?
   - The main difference is that a string is used for text, and it cannot be changed, while a list can store different types of data and we can change it.

 7.  How do tuples ensure data integrity in Python?
   - In Python, tuples help to protect data from being changed because they are immutable, which means once a tuple is created, we cannot add, remove, or change its elements.
   - This is useful when we want to store fixed information that should not be changed by mistake. It helps in data integrity, meaning the data stays safe and accurate throughout the program.

 8.  What is a hash table, and how does it relate to dictionaries in       Python?
   - A hash table is a type of data structure that stores data in key-value pairs and uses a process called hashing to quickly find the location of a value based on its key.
   - a dictionary is Python's version of a hash table, and it helps us store and get data quickly using unique keys.

 9.  Can lists contain different data types in Python?
   - yes, lists can contain different data types in Python.This means a single list can have numbers, strings, booleans, and even other lists or objects.

 10.  Explain why strings are immutable in Python.
   - strings are immutable in Python to make programs faster, safer, and more reliable.

 11.  What advantages do dictionaries offer over lists for certain tasks?
   - Dictionaries in Python offer some important advantages over lists, especially when we want to work with data using unique keys instead of just positions.
   - Dictionaries are more useful than lists when we need to Label our data clearly, Access data quickly, Avoid confusion with indexes.

 12.  Describe a scenario where using a tuple would be preferable over a  list.
   - We should use a tuple instead of a list when we want to store data that should not be changed. Tuples are immutable, which means once they are created, their values cannot be modified, added, or removed.

 13.  How do sets handle duplicate values in Python?
   - In Python, sets do not allow duplicate values. If we try to add the same value more than once to a set, it will automatically remove the duplicates and only keep unique values.
   - Sets in Python automatically handle duplicates by ignoring repeated values and storing only one copy of each item. This makes sets very useful when we want to work with unique data only.

 14.  How does the “in” keyword work differently for lists and dictionaries?
   - In Python, the "in" keyword is used to check if a value exists in a collection like a list or dictionary.For lists, "in" checks if a value is present.
   - For dictionaries, "in" checks if a key is present.

 15.  Can you modify the elements of a tuple? Explain why or why not.
    - Tuples cannot be modified because they are immutable. This helps to keep the data safe and unchanged throughout the program.

 16.  What is a nested dictionary, and give an example of its use case?
   - A nested dictionary is a way to store complex and structured data in Python. It helps keep related information together and easy to manage.
   - A nested dictionary is helpful when We want to store data for multiple records (like student details, employee profiles),We need to group related information for better organization.

 17.  Describe the time complexity of accessing elements in a dictionary.
   - In Python, accessing elements in a dictionary using a key is very fast. The time complexity for this operation is:
   - O(1) — also called constant time
   This means that no matter how many items are in the dictionary, it takes the same amount of time to find a value using its key.
   - Dictionaries use a hash table inside, which allows Python to directly jump to the location of the value by hashing the key — instead of searching item by item.

 18.  In what situations are lists preferred over dictionaries?
   - Lists are preferred over dictionaries when we want to store a collection of items in a specific order and don't need to label them with keys.
   - Lists are preferred when we need to store ordered, simple, and duplicate-friendly data, and when using index numbers is enough to work with the values.

 19.  Why are dictionaries considered unordered, and how does that affect data retrieval?
   - Dictionaries are considered unordered because they are designed for fast access using keys, not for maintaining the order of items. This means you must always retrieve values using keys, not positions.
   - How It Affects Data Retrieval is that You can't access items by position like in a list (e.g., dict[0] doesn't work), You must use keys to get values, The speed is fast (O(1)), but not based on any order.

 20.  Explain the difference between a list and a dictionary in terms of data retrieval.
    - The main difference between a list and a dictionary in Python is how we retrieve data from them.
    - A list stores items in a specific order, We access elements using index numbers (starting from 0), You need to remember the position of the item to get it.
    - A dictionary stores key-value pairs, We access values using their keys, not positions, This makes it easier to find data when you know the key.
    - List → data is retrieved by index, Dictionary → data is retrieved by key.

In [1]:
#1.Write a code to create a string with your name and print it.
my_name = "Surbhi Bhati"
print(my_name)

Surbhi Bhati

In [2]:
#2.Write a code to find the length of the string "Hello World".
text = "Hello World"
length = len(text)
print("Length of the string is:", length)

Length of the string is: 11

In [3]:
# 3.Write a code to slice the first 3 characters from the string "Python programming".
text = "Python Programming"
sliced_text = text[:3]
print("First 3 characters are:", sliced_text)

First 3 characters are: Pyt

In [4]:
#4.Write a code to convert the string "hello" to uppercase.
text = "hello"
uppercase_text = text.upper()
print("Uppercase string is:", uppercase_text)

Uppercase string is: HELLO

In [5]:
#5.Write a code to replace the word "apple" with "orange" in the string "I like apple".
text = "I like apple"
new_text = text.replace("apple", "orange")
print("Replaced string is:", new_text)

Replaced string is: I like orange

In [6]:
#6.Write a code to create a list with numbers 1 to 5 and print it.
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

In [7]:
#7.Write a code to append the number 10 to the list [1, 2, 3, 4].
numbers = [1, 2, 3, 4]
numbers.append(10)
print(numbers)

[1, 2, 3, 4, 10]

In [8]:
#8.Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].
numbers = [1, 2, 3, 4, 5]
numbers.remove(3)
print(numbers)

[1, 2, 4, 5]

In [9]:
#9.Write a code to access the second element in the list ['a', 'b', 'c', 'd'].
my_list = ['a', 'b', 'c', 'd']
second_element = my_list[1]
print(second_element)

b

In [10]:
#10.Write a code to reverse the list [10, 20, 30, 40, 50].
my_list = [10, 20, 30, 40, 50]
reversed_list = my_list[::-1]
print(reversed_list)

[50, 40, 30, 20, 10]

In [11]:
#11.Write a code to create a tuple with the elements 100, 200, 300 and print it.
my_tuple = (100, 200, 300)
print(my_tuple)

(100, 200, 300)

In [12]:
#12.Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
my_tuple = ('red', 'green', 'blue', 'yellow')
second_to_last_element = my_tuple[-2]
print(second_to_last_element)

blue

In [13]:
#13.Write a code to find the minimum number in the tuple (10, 20, 5, 15).
my_tuple = (10, 20, 5, 15)
minimum_number = min(my_tuple)
print(minimum_number)

5

In [14]:
#14.Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
my_tuple = ('dog', 'cat', 'rabbit')
index_of_cat = my_tuple.index('cat')
print(index_of_cat)

1

In [15]:
#15.Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
fruits_tuple = ("apple", "banana", "orange")
is_kiwi_in_tuple = "kiwi" in fruits_tuple
print(is_kiwi_in_tuple)

False

In [16]:
#16.Write a code to create a set with the elements 'a', 'b', 'c' and print it.
my_set = {'a', 'b', 'c'}
print(my_set)

{'c', 'b', 'a'}

In [17]:
#17.Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
my_set = {1, 2, 3, 4, 5}
my_set.clear()
print(my_set)

set()

In [18]:
#18.Write a code to remove the element 4 from the set {1, 2, 3, 4}.
my_set = {1, 2, 3, 4}
my_set.remove(4)
print(my_set)

{1, 2, 3}

In [19]:
#19.Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5}

In [20]:
#20.Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
set1 = {1, 2, 3}
set2 = {2, 3, 4}
common_elements = set1.intersection(set2)
print("Intersection of the sets is:", common_elements)

Intersection of the sets is: {2, 3}

In [21]:
#21.Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
person = {
    "name": "Surbhi",
    "age": 27,
    "city": "Delhi"
}
print(person)

{'name': 'Surbhi', 'age': 27, 'city': 'Delhi'}

In [22]:
#22.Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
person = {'name': 'John', 'age': 25}
person['country'] = 'USA'
print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [23]:
#23.Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
person = {'name': 'Alice', 'age': 30}
name_value = person['name']
print(name_value)

Alice

In [24]:
#24.Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
person = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del person['age']
print(person)

{'name': 'Bob', 'city': 'New York'}

In [25]:
#25.Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
person = {'name': 'Alice', 'city': 'Paris'}
city_exists = 'city' in person
print(city_exists)

True

In [29]:
#26.Write a code to create a list, a tuple, and a dictionary, and print them all.
my_list = [1, 2, 3, 4, 5]
my_tuple = (10, 20, 30, 40, 50)
my_dict = {
    "name": "Surbhi",
    "age": 27,
    "city": "Delhi"
}
print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 2, 3, 4, 5]
Tuple: (10, 20, 30, 40, 50)
Dictionary: {'name': 'Surbhi', 'age': 27, 'city': 'Delhi'}

In [32]:
#27.Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order,and print the  result.
import random
random_numbers = random.sample(range(1, 101), 5)
random_numbers.sort()
print("Sorted random numbers:", random_numbers)

Sorted random numbers: [1, 27, 62, 66, 71]

In [33]:
#28.Write a code to create a list with strings and print the element at the third index.
my_list = ["apple", "banana", "cherry", "date", "elderberry"]
third_element = my_list[2]
print("Third element:", third_element)

Third element: cherry

In [34]:
#29.Write a code to combine two dictionaries into one and print the result.
dict1 = {"name": "Surbhi", "age": 27}
dict2 = {"city": "Delhi", "country": "India"}
combined_dict = {**dict1, **dict2}
print("Combined Dictionary:", combined_dict)

Combined Dictionary: {'name': 'Surbhi', 'age': 27, 'city': 'Delhi', 'country': 'India'}

In [35]:
#30.Write a code to convert a list of strings into a set.
my_list = ["apple", "banana", "apple", "orange"]
my_set = set(my_list)
print("Set:", my_set)

Set: {'banana', 'orange', 'apple'}